body {
	font: 15px sans-serif;
	background-color: #889EC5;
}
#views {
	display: flex;
	position: absolute;
	inset: 0.5em;
}
#list {
	flex-shrink: 0;
	min-width: 10em;
	position: sticky;
	left: 0.5em;
	resize: horizontal;
	overflow-y: auto;
}
#list, .view {
	padding: 0.3em;
	background-color: white;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
#list label {
	display: block;
}
.view-scroller {
	display: flex;
	flex-grow: 1;
	overflow: auto;
}
.view {
	margin-left: 0.5em;
	overflow: auto;
	resize: horizontal;
	flex-shrink: 0;
}
.view .graph {
	position: relative;
	svg {
		position: absolute;
		pointer-events: none;
	}
	svg path {
		&.active {
			stroke: red;
		}
		&.fade {
			stroke: rgba(calc(var(--fade) * 255), 0, 0);
		}
	}
}
.view h2 {
	margin: 0.5em;
}
.view label {
	display: block;
}
.view .state {
	position: absolute;
	padding: 0.3em 0.5em;
	border-radius: 0.6em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	outline: 1px solid transparent;
	&.current {
		outline: 1px solid red;
	}
	&.fade {
		outline: 1px solid rgba(255, 0, 0, var(--fade));
	}
}
